# Generated bundles contain significant whitespace inside JavaScript strings
# and verbatim third-party licenses. Review source; do not hand-format output.
internal/transport/spa/assets/** linguist-generated=true -whitespace
